<html>

	<head>
	
	<meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Gabriel Fernandes">
	
	<!-- Descrição -->
	<!-- WebApp para controle de treinos da academia.  -->

    <title>Treino </title>

    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<!-- Customize -->
    <link href="css/cssAux.css" rel="stylesheet">
	
	<script type="text/javascript">			
		function abreModal(varModal){	
			if(varModal == 'mdexercicio'){			
			$('#mdexercicio').modal('show');
			}			
		}
	</script>
	
	</head>	

	<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="../index.html">SAG</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="../index.html">Home</a></li>
      <li><a href="../set.html">Set</a></li>
      <li><a href="../exercicio.php">Exercícios</a></li>
      <li><a href="../treino.html">Treinar</a></li>
    </ul>
	 <ul class="nav navbar-nav navbar-right">
       <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Developed by Gabriel Fernandes
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="https://github.com/gfernandes410">Github</a></li>
          <li><a href="https://www.linkedin.com/in/gabriel-fernandes-04548b99">Linkedin</a></li>
          <li><a href="www.gfernandes410.com">Site</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
	<br/><br/>
		
			<!-- Opções da tela -->
		<div class="row text-center col-xs-12 col-md-12">
		  <div class="col-xs-12 col-md-4">
			<a href="set.html" class="thumbnail">
				<img src="imgs/test300x300A.png" alt="Erro na imagem :(">
				<br/>Set
			</a>
			</div>
									
			<div class="col-xs-12 col-md-4">
				<a href="exercicio.php"  class="thumbnail" >
					<img src="imgs/test300x300C.png" alt="Erro na imagem :(">
					<br/>Cadastro Exercícios
				</a>			
			</div>
			
			<div class="col-xs-12 col-md-4">
				<a href="treino.html" class="thumbnail">
					<img src="imgs/test300x300B.png" alt="Erro na imagem :(">
					<br/>Treinar
				</a>
			</div>
		
		</div>
		
			
	</div>

	</body>
	
</html>